[2009-05-25 12:19] senny opened #1 "Do not display pending specs as errors"
When i run pending specs the compilation buffer displays them as errors. It would be great to just mark them as pending (highlight yellow ore something like this) and let the compilation be successfull when all other specs pass.

[2015-01-08 19:31] cowboyd opened #104 "Spring detection does not work"
On OSX, rspec-mode does not find the Spring PID anymore.

This might be related to https://github.com/rails/spring/blob/master/CHANGELOG.md#092

[2015-01-08 19:34] dgutov commented on #104
No, 0.9.2 is an old version. You're probably seeing the change #103 is about.

[2015-01-08 19:44] cowboyd commented on #104
You're absolutely right.

[2015-01-08 19:44] #104 closed

[2015-01-08 23:48] jetaggart opened #105 "Respect compilation-scroll-output"
I think this is a better solution than auto scrolling at the end. That way the auto scroll flag can be removed and rspec-mode can defer to the user's compilation scroll preferences

[2015-01-08 23:48] jetaggart commented on #105
I'm happy to take a stab at this.

[2015-01-09 01:29] dgutov commented on #105
Would you just remove the variable, and the let-binding in `rspec-compile`?

I don't know if we really want that, but `define-compilation-mode` has a mechanism for  custom vars in compilation-mode derivatives. If `rspec-auto-scroll` was called `rspec-compilation-scroll-output`, its value would be used automatically.

[2015-01-09 03:34] jetaggart commented on #105
I think so. If you don't bind `compilation-scroll-output` explicitly in the let, will it not just respect your global setting?

[2015-01-09 03:35] jetaggart commented on #105
It feel weird to have this set in two places.

[2015-01-09 03:36] dgutov commented on #105
It should. Please go ahead and submit the patch.

[2015-01-09 03:54] #105 closed

[2015-01-13 03:19] #1 closed

[2015-02-11 22:02] mordocai opened #110 "Doesn't use rvm.el gemset setting?"
I'm not sure whether this is actually an rvm.el problem or rspec mode problem so apologies if it turns out to be a rvm.el problem.

The only maybe related issue I could find was https://github.com/senny/rvm.el/issues/27.

I have the following in my init.el:

    (setq rvm--gemset-default "my-desired-gemset")
    (rvm-use-default)
    (defadvice rspec-compile (around rspec-compile-around)
      "Us

[2015-02-11 23:38] dgutov commented on #110
Yes, the aforementioned issue looks very much related. And anyway, we don't do anything special with RVM or `rvm.el` here, so any improvement would have to be done in the latter (whether it's a bug or a missing feature, is a different question).

Personally, I'd recommend using `rbenv`, which doesn't need any special integration. I also don't think gemsets are a good idea: this task is better left

[2015-02-11 23:38] #110 closed

[2015-02-12 00:25] rranelli commented on #110
I agree with @dgutov about `rbenv`. Since I moved away from `rvm` to `rbenv` + `bundler` I had absolutely no problems with ruby versions, gems and whatsoever.

[2015-03-25 21:15] exploid opened #111 "Anyone else running into exit with code 2 frequently?"
I'm frequently running into this problem where zeus exits early with code 2, as described in burke/zeus#469.

I'm running into this more often with rspec-mode than when running `zeus rspec` from iTerm.

Anyone else running into this? Any suggestions on how it could be fixed?

[2015-03-27 17:32] exploid commented on #111
For anyone else who might be having this problem. I ended up adding [this function](https://github.com/burke/zeus/issues/469#issuecomment-71894985) to my shell and replacing the zeus-command with `ze` [here](https://github.com/pezra/rspec-mode/blob/68d721ec886f0b932f094a1cbf44a8ad2ce3502b/rspec-mode.el#L600)

[2015-03-27 17:32] #111 closed

[2015-04-06 17:06] imtayadeway opened #115 "re: top level describe blocks"
The current recommended way to declare top level describe blocks is as follows:

[code]
Could this be a feature that rspec-mode would want to support?

[2015-04-06 17:34] dgutov commented on #115
What kind of support would you like to see? In snippets?

[2015-04-06 17:44] imtayadeway commented on #115
Snippets, yes. I like that I get a snippet when I create a new spec file, but find that I am changing them by hand to conform with the above. I'm happy to try to tackle this if you think that's something you'd want. Apologies for opening this with a terribly vague request!

[2015-04-06 22:57] pezra commented on #115
@imtayadeway, <https://github.com/pezra/rspec-mode/blob/master/snippets/rspec-mode/desc> and <https://github.com/pezra/rspec-mode/blob/master/snippets/rspec-mode/descm> should be updated to use this style since it is now the recommendation. If you submitted a PR to that effect we'd merge it.

[2015-04-06 23:00] pezra commented on #115
Hmm... upon further consideration :smile: we probably should have new snippets since the `RSpec.` bit is only needed at the top level. Maybe `tdesc` and `tdescm`?

[2015-04-06 23:18] dgutov commented on #115
@pezra I don't think we need that: the `desc` snippet already checks whether it's a the top level, and if so, behaves differently (`descm` should probably do the same).

This feature could be implemented to see whether there's a match for `expose_dsl_globally *= *false` in `spec/spec_helper.rb`, or just check a user option. Either would only take effect when `top-level` is t.

[2015-04-06 23:28] imtayadeway commented on #115
@pezra and @dgutov thanks for the recommendations - i'll try to cook something up tonight and get back to you.

[2015-04-08 23:57] imtayadeway opened #117 "FactoryGirl: rspec--include-fg-syntax-methods-p"
Just noticed that this checks the spec helper for `FactoryGirl::Syntax::Methods`. More recent versions of rspec-rails will create a `spec_helper.rb` and `rails_helper.rb` file, and the appropriate place for putting this include is in the latter. Should the rails helper also be checked (assuming of course that it's a rails project, and that the rails helper is there)?

[2015-04-09 01:52] dgutov commented on #115
Implemented and merged.

[2015-04-09 01:52] #115 closed

[2015-04-09 01:52] dgutov commented on #117
Sure, why not?

[2015-04-09 01:56] imtayadeway commented on #117
@dgutov great! I'll see if I can tackle this over the next few days.

[2015-04-30 08:08] #117 closed

[2015-05-04 01:59] chanshunli opened #119 "How to do “ Emacs path setup ”， “rspec-verify-all ” is no work"
I am use rvm & zsh & mac emacs 24.4，  but I don't know how to do "Emacs path setup"
[code]
![qq20150504-3](https://cloud.githubusercontent.com/assets/6021537/7447636/e6fa35da-f235-11e4-99be-e2b6520f3a4d.png)

[2015-05-04 02:11] dgutov commented on #119
https://github.com/senny/rvm.el

[2015-05-04 06:02] chanshunli commented on #119
@dgutov
I add `(add-hook 'after-init-hook 'inf-ruby-switch-setup)  ` to my init.el , then  Press Keys ` C-x C-q ` or M-x read-only-mode :
It's will show
[code]
And I press "Enter" , It will say ` compilation-next-error: No error here `

I can't  enable inf-ruby , When I hit one breakpoint . It's no work :)

Thanks :)

[2015-05-04 11:26] dgutov commented on #119
Have you restarted your Emacs?

Don't do that. Just press `C-x C-q`. And read up to Emacs keybindings.

[2015-05-04 12:03] chanshunli commented on #119
@dgutov Thanks:)
I press ` C-x C-q `, I't will show "Read-Only mode enabled", Then I  press `C-h b ` look keybindings :

![](https://ruby-china-files.b0.upaiyun.com/photo/2015/c9f651e47d7fc4456d639ae62a351d0c.png)

[2015-05-04 12:16] dgutov commented on #119
Do you have `inf-ruby` installed?

[2015-05-04 12:16] chanshunli commented on #119
@dgutov
yes :)

[2015-05-04 13:04] dgutov commented on #119
What happens if you evaluate `(inf-ruby-switch-setup)` manually, using `M-:`?

[2015-05-04 13:27] chanshunli commented on #119
@dgutov
` M-: (inf-ruby-switch-setup) `  in *rspec-compilation* , return " inf-ruby-switch-from-compilation" :)

Thanks :)

[2015-05-04 13:33] dgutov commented on #119
Does switching to `inf-ruby-mode` with `C-x C-q` in `*rspec-compilation*` work after that?

[2015-05-04 13:42] chanshunli commented on #119
But I found keybindings have ` C-x C-q         inf-ruby-switch-from-compilation ` ， I't Look OK :)  Yes:)
![qq20150504-29](https://cloud.githubusercontent.com/assets/6021537/7454402/e2923e78-f2a5-11e4-906c-64ff5050dd06.png)

But I want send one  or mark mutil  line   from file buffer to "rspec-compilation" buffer to run , How to do ?
Like  Lisp `C-x C-e ` run one line or mark mutil  line, send to

[2015-05-04 13:48] chanshunli commented on #119
@dgutov

[2015-05-04 14:08] dgutov commented on #119
Sorry, that's currently impossible.

[2015-06-22 00:48] jbaum98 opened #123 "Incorrect spec file path for files in nonstandard directories"
In addition to the standard Rails directory structure, I have other root level directories like `services` or `exhibits`:
[code]
When I execute `rspec-toggle-spec-and-target` in a file in one of those nonstandard directories like `services` outside of `app`, it opens a buffer for a new file directly inside of `spec`, instead of the existing file in `/spec/services`.

[2015-06-25 00:50] dgutov commented on #123
Yeah, that one's been bothering me for a while, too. I'll create a pull request adding a new user option and reversing a bit of current logic in this area.

[2015-06-29 22:25] #123 closed

[2015-07-23 20:26] davidw opened #127 "README should mention rvm.el"
rspec-mode did not work for me before installing rvm.el and setting `rspec-use-rvm` to `t`.  Mentioning this in the README might help people get up and running a bit faster.

[2015-07-23 20:46] dgutov commented on #127
I suppose. Right now, it's only mentioned in the package description (try `M-x describe-package`).

[2015-07-23 20:49] davidw commented on #127
@dgutov and even that's more of "you might consider this", rather than "it won't work without this".  For a lot of people, rvm is pretty standard.

[2015-10-31 09:29] pmontrasio opened #131 "RSpec Compilation segmentation fault"
I have this kind of errors whenever I run rspec from within emacs.

    -*- mode: rspec-compilation; default-directory: "~/Documents/my-project/" -*-
    RSpec Compilation started at Sat Oct 31 09:23:57

    bundle exec rake spec SPEC_OPTS='--options /home/me/Documents/my-project/.rspec' SPEC='/home/me/Documents/my-project/spec/controllers/my_controller_spec.rb:82'

    RSpec Compilation segmentat

[2015-10-31 09:52] pmontrasio commented on #131
I'm closing this because I found the same problem when running a Ruby interpreter with inf-ruby. I opened an issue there https://github.com/nonsequitur/inf-ruby/issues/78

[2015-10-31 09:52] #131 closed

[2015-10-31 10:33] dgutov commented on #131
I haven't. But you might be one of the first people trying Ruby 2.2.3 with Emacs.

[2015-10-31 15:27] pedz commented on #131
FYI: I'm using ruby 2.2.3p173 and emacs 24.5 and the latest rspec-mode without issues.  I was using 24.3 a few weeks ago with the same version of ruby.  And I believe I was using an old version of rspec-mode until recently.  I am not using RVM.

[2015-11-13 17:26] dgutov commented on #127
All of them should switch to rbenv. :)

Patch welcome, by the way.

[2015-11-13 17:46] davidw commented on #127
https://github.com/pezra/rspec-mode/pull/132

[2015-11-13 17:50] pedz commented on #127
I use to use rvm and regret it.  At least once the update was "delete everything and start over".  And I never got them to pull in fixes to their scripts.  My list of complaints is long.  I even gave money to them at one point.

[2015-11-13 17:52] davidw commented on #127
@pedz fine, but this is about making rspec-mode friendlier for those who do use it.

[2015-12-15 17:33] jonnay opened #133 "Using Tramp with rpsec"
I'd like to be able to use tramp with rspec mode, but it looks like the ifle paths are not being translated properly.   Ruby is being run properly through tramp on the remote machine, but it's looking for the full tramp path to the spec file.

[code]

[2015-12-18 02:47] #133 closed

[2015-12-18 02:47] dgutov commented on #133
Thanks for the report. Please try the current master.

[2016-01-07 11:16] panjan opened #135 "Empty Rakefile breaks everything"
Hello, I tried to run tests on a project with an empty Rakefile and got the following output:

[code]
This is the minimal working Rakefile:
[code]
Things should work even with an empty Rakefile.

[2016-01-07 12:00] dgutov commented on #135
How will we check whether Rakefile is a "working" one?

[2016-01-07 16:50] panjan commented on #135
How about looking for the `spec` task in the output of `rake --tasks --all`?

[2016-01-07 16:58] dgutov commented on #135
That would be pretty slow: first, we have to use `bundle exec` anyway. If `Rakefile` loads the environment, we'll basically incur the gem loading overhead twice.

In one of my work projects, that takes ~4 seconds. An sample Rails project: 2 seconds.

[2016-01-09 00:05] dgutov commented on #135
Maybe the better choice would be to simply make `rspec-use-rake-when-possible` default to nil. I definitely had to use this value in the recent projects at works.

@pezra What do you think?

[2016-01-09 01:07] pezra commented on #135
Hmm... it has the downside of breaking projects that do setup work in rake. (Eg, every rails project whenever there is a new migration.) Otoh, it would make individual test runs a bit, or a lot, faster.

I think I lean toward changing the default as @dgutov suggests because I rarely use rake to run specs these days. Even in rails projects. I'd be interested in hearing the views of others in the co

[2016-01-09 03:23] rranelli commented on #135
I too never run "rake test" with rspec mode. I have set the option to
ignore the Rakefile since my first day with rspec-mode I guess.
On Jan 8, 2016 11:07 PM, "Peter Williams" <notifications@github.com> wrote:

[2016-01-09 14:58] pedz commented on #135
I also have it set to nil.  I wrote what I call [prvm](https://github.com/pedz/my.emacs.d/blob/master/pedz/prvm.el) which puts rspec with the bundled environment in my path so I can just say "rspec" and it is set up properly.

[2016-01-13 22:58] #135 closed

[2016-01-21 07:49] mkaschenko opened #137 "Rerunning last failed specs doesn't autosave the buffer"
Are there reasons why `rspec-run-last-failed` doesn't call `rspec--autosave-buffer-maybe`?
I found it useful while editing a method and rerunning its failed examples.

[2016-01-21 14:26] dgutov commented on #137
None that I can see. Care to submit a patch?

[2016-01-21 14:32] mkaschenko commented on #137
Alright. I will do.

[2016-01-22 04:28] #137 closed

[2016-01-25 22:25] jonnay commented on #133
Totally works!  Thank you!

[2016-04-19 00:49] mkaschenko opened #143 "Debugging: move to the end of the buffer right after hitting C-x C-q"
As it says here https://github.com/pezra/rspec-mode#debugging it's possible to switch to 'Inf-ruby' mode from 'Spec Compilation' mode.
I noticed that I always hit C-x C-q and M-> (end-of-buffer) to move to the input place.
So I'm thinking about making this behaviour by default.

[2016-04-19 11:31] dgutov commented on #143
We've slightly changed the recommended procedure on `inf-ruby`'s side, search for `compilation-filter-hook` in https://github.com/nonsequitur/inf-ruby/blob/master/README.md.

Not sure how your proposal fits in that.

[2016-04-20 01:41] mkaschenko commented on #143
With `inf-ruby-auto-enter` added, when I switch to `*rspec-compilation*` buffer my cursor is in the beginning of the buffer.
So I still need to move to end of the buffer to input something.
Wouldn't it be nice to have cursor in the input place by default?

[2016-04-20 01:45] mkaschenko commented on #143
With `inf-ruby-auto-enter` added, when I switch to `*rspec-compilation*` buffer my cursor is in the beginning of the buffer.
So I still need to move to end of the buffer to input something.
Wouldn't it be nice to have cursor in the input place by default?

<img width="1440" alt="rspec-inf-ruby" src="https://cloud.githubusercontent.com/assets/130269/14660973/3109f396-06d4-11e6-9f4c-0cd6a7167978.png

[2016-04-20 01:55] mkaschenko commented on #143
One more thing: I'm currently using `byebug` gem on a project and `inf-ruby-auto-enter` is not working for it because `inf-ruby-breakpoint-pattern` doesn't handle that case.
It shouldn't be difficult to make it work.

<img width="1440" alt="rspec-byebug" src="https://cloud.githubusercontent.com/assets/130269/14661160/a5d6db0c-06d5-11e6-9931-914ab802defb.png">

[2016-04-20 09:58] dgutov commented on #143
Indeed. Feel like submitting a couple of pull requests?

They should be against `inf-ruby`. One to recognize `byebug` prompt, and another that adds a user option that makes `inf-ruby-auto-enter` and `inf-ruby-switch-from-compilation` jump to eob.

[2016-04-20 12:43] mkaschenko commented on #143
👍
I will submit them.

[2016-06-10 07:34] thegeorgeous opened #145 "Do not require Vagrantfile to run tests via Vagrant"
Although it is a good practice to check if Vagrantfile is present, it is a problem if I have multiple folders in my project, all of which are inside the `/vagrant` folder. In which case, the vagrant option is completely ignored. It would be helpful if the vagrant variables were scoped to a project rather than as global variables.

[2016-06-10 10:54] dgutov commented on #145
Could you elaborate?

[2016-06-10 17:40] thegeorgeous commented on #145
`rspec-vagrant-cwd` is set globally. One project I work on is in `/vagrant/myproject` on one of my VMs, while another is in `/vagrant` on a different VM. I end up setting the `rspec-vagrant-cwd` variable everytime I switch the project. If it were possible to store such settings in a dotfile or something in each project, it would be much easier to switch between different projects. It could potenti

[2016-06-26 13:41] phstc opened #146 "Spacemacs deletes it: Found 1 orphan package(s) to delete"
I every time I restart [Spacemacs](http://spacemacs.org/), it shows a message:

[code]

And deletes `rspec-mode`.

Any ideas?

[2016-06-26 13:48] dgutov commented on #146
Here's a better place to ask: https://gitter.im/syl20bnr/spacemacs

[2016-06-26 13:48] #146 closed

[2016-08-29 19:47] zlotnika opened #151 "Use spring in vagrant"
It would be great to be able to use spring in vagrant (probably zeus users have the same issue). It looks like the issue is that it only checks the local machine for a spring PID. I would guess that, similarly, if you are running spring on the local machine but not on vagrant, it would cause an error.

[2016-08-29 20:22] dgutov commented on #151
I agree. Patch welcome!

[2017-01-23 23:37] derikson opened #155 "add key bindings to compilation buffer"
It would be handy if one could use the key bindings in compilation buffer. Some, like `C-c , r`, just make sense. Others, like `C-c , s` could look at the failing example closest to point and run that.

[2017-01-23 23:41] dgutov commented on #155
To re-run the compilation, you can just press `g`.

[2017-01-31 05:33] dgtized opened #157 "Toggling between spec and implementation is broken in some cases"
I started trying to write a test case for this and then ran into some difficulty modeling the file system.

Basically if you have a spec file spec/lib/foo_spec.rb and the implementation lib/foo.rb, running C-c , t to flip from the spec to the implementation works, but switching from the implementation to the test fails (it tries to generate spec/foo_spec.rb even though the spec/lib/foo_spec.rb exi

[2017-01-31 22:27] dgutov commented on #157
I'm not sure I understand what exact scenario it breaks in. It seems to work well for me, both in projects with `spec/lib` and without.

The directory names which "should not exist" under `spec` are configurable via `rspec-primary-source-dirs`.

[2017-01-31 23:34] dgtized commented on #157
[code]

[2017-01-31 23:36] dgtized commented on #157
[code]

Are you suggesting I need to adjust that variable differently?

[2017-01-31 23:58] dgutov commented on #157
It loops over the possible prefixes to add to the relative name, to determine the target file name. When both `app/foo.rb` and `lib/foo.rb` map to `spec/foo_spec.rb`, you have to loop to find whichever one that exists.

Try removing `lib` from its value. Or set it to nil altogether, if you have same situation with `app`.

[2017-01-31 23:59] dgutov commented on #157
It kind of does, inside `rspec-target-in-holder-dir-p`.

[2017-02-01 01:13] dgtized commented on #157
Awesome! I used:

    (setq rspec-primary-source-dirs '("app"))

And it fixed it. Happy to close this given it now works, but wonder if should this example in the documentation somewhere? Or am I just blind and missed it?

[2017-02-01 01:25] dgutov commented on #157
I don't know whether the lack of an example was really the problem. Have you even noticed that variable before?

[2017-02-01 01:31] dgtized commented on #157
Yep, I noticed it while trying to figure it out, but it wasn't clear what it did. For one the variable sounds like it includes app and lib as viable targets for sources, and I must confess it wasn't until looking at it again after modifying that I realized it excluded lib.

I think I'm still a little unclear on how it excludes, like if I remove "app" from the list, what cases would break?

Just di

[2017-02-01 01:36] dgutov commented on #157
Maybe the name is not ideal. But you can search for the discussion where it was introduced, and I didn't see any better suggestions.

The list of viable targets for sources is not needed. If you have `spec/foo/bar_spec.rb`, the toggle function can just look for `foo/bar.rb`, there's no performance penalty associated with that. It does, however, need some knowledge to look for `app/foo/bar.rb` and

[2017-02-01 01:42] dgutov commented on #157
If the docstring is not good enough, please suggest some improvements.

[2017-02-01 01:45] dgtized commented on #157
[code]

Sorry I don't have the best suggestion immediately on naming it clearer, still having some difficulty understanding what it does exactly. How about this, I'll try again to make a PR to add the test cases so at minimum someone else who is confused can see an example of how it changes things in the specs & then can see if we can improve the name?

[2017-02-01 02:20] dgtized commented on #157
Also, thanks for the assistance!

[2017-02-01 14:25] dgutov commented on #157
@dgtized What is the problem with the

[code]

example?

[2017-02-01 14:26] dgutov commented on #157
Please go ahead, and use ERT for them.

[2017-02-01 22:12] dgtized commented on #157
Sorry to clarify, the '("app") example is what I am now using and is the correct behavior. I just listed each of them to show the outputs for each, mostly to inform what the ERT test should be. I think there may be an error for the "lib" only case that might need better rescuing. Will try and get to tests. Thanks again for the help.

[2017-02-15 09:59] Kukunin opened #158 "Copy last test command to clipboard"
I think it'd useful to have a command (with keybinding) to copy last rspec command to clipboard.

It may be useful to run rspec in terminal (to run `pry` or with extra keys, such as `- b`)

[2017-02-15 14:19] pezra commented on #158
That would be useful. Any chance you could create a PR for that?

[2017-02-15 17:12] Kukunin commented on #158
hm.. good chance to try elisp. I'll try to prepare

[2017-02-25 08:12] dgutov commented on #158
Merged.

[2017-02-25 08:12] #158 closed

[2017-03-04 18:59] amritfd opened #160 "How to customize rspec erorr stack colours matching with my preferred theme."
Hi,
It seems the rspec mode color is using some different colour scheme. How to change it to something which suits my current theme. All my error stack are not visible in emacs. I have attached one image also. Please take a look and guide me to do my work. I cant live without this rspec mode. I use it in every minute. Thanks.

<img width="1321" alt="screen shot 2017-03-05 at 12 27 25 am" src="http

[2017-03-04 20:32] dgutov commented on #160
To find out the face which is used at a given buffer position, move the cursor there and type `C-u C-x =`. That is the face you need to customize or ask the author of the current theme to include.

For example, the errors are highlighted with the face `compilation-error`.

[2017-03-04 20:46] amritfd commented on #160
Hi,
Thanks for replying.  `compilation-error` is not reflecting in the error. For example in my below screenshot, `compilation-error` is magenta but the face is something else. I shown the output of `C-u C-x =` also.
<img width="1434" alt="screen shot 2017-03-05 at 2 13 13 am" src="https://cloud.githubusercontent.com/assets/21101155/23582135/b27b3f5a-0149-11e7-87d6-69d56fe2611a.png">

[2017-03-04 21:16] dgutov commented on #160
Ah yes, that also happens. See the `foreground-color` value above? That is there because of `rspec-colorize-compilation-buffer` we add to `compilation-filter-hook`, to translate the ANSI codes that the RSpec process outputs into Emacs faces.

You can try undoing this in `rspec-compilation-mode-hook`, if that is your goal. Personally, I'd just pick a theme that works well with the generic colors.

[2017-03-05 08:18] amritfd commented on #160
Hi,
I checked the code for `rspec-compilation-mode-hook`. If I comment out the `rspec-colorize-compilation-buffer`, then also its coming same. Find the attached screenshot please. Commenting this line should not override the face is it?

<img width="680" alt="screen shot 2017-03-05 at 1 42 04 pm" src="https://cloud.githubusercontent.com/assets/21101155/23585667/fbd84dfe-01a9-11e7-859e-1991d876867d

[2017-03-05 08:24] dgutov commented on #160
It should.

What does `C-u C-x =` show then?

[2017-03-05 08:43] amritfd commented on #160
It shows like this -

<img width="585" alt="screen shot 2017-03-05 at 2 11 48 pm" src="https://cloud.githubusercontent.com/assets/21101155/23585821/e46ec27a-01ad-11e7-835e-8e083358c3c9.png">

[2017-03-05 11:19] amritfd commented on #160
After restarting emacs twice. I can see the face changed. But the hyper link seems to have broken. Previous setting was better now I feel. Anyway I am good now. Thanks. :)

[2017-03-05 11:19] #160 closed

[2017-05-24 22:09] marcofognog opened #163 "rspec-mode does not work when I follow the instruction on README"
When I follow the instructions on REAME to install rspec-mode
And I call rspec-verify-all on a spec file
rspec-mode fails for trying to run with the wrong Ruby version

What does should one do to have rspec-mode working, besides what is explicit in the README?

[2017-05-24 22:16] dgutov commented on #163
Depends on the tool you are using to manage Ruby versions.

With rbenv, nothing.

[2017-05-24 22:21] marcofognog commented on #163
Alright, just figured the thing about RVM. It would be nice to have something about it in the README.

[2017-05-24 22:22] marcofognog commented on #163
More precisely, this commit was really usefull: https://github.com/pezra/rspec-mode/pull/132/commits/236f745b164ba9261261d01475a32cedc1871b67

[2017-08-29 16:34] Dangeranger opened #166 "Wrong Ruby version used during test invocation with Rbenv + ZSH + Spacemacs"
## Problem:

When invoking `rspec-verify-all` from within any spec file using the keybinding <kbd>CTRL</kbd>+<kbd>c</kbd> , <kbd>,</kbd>, <kbd>a</kbd> instead of using the Ruby binary version specified in the `.ruby-version` located at the project root, `rspec-mode` is invoking `rspec` with the default system ruby instead.

## Expected behavior:

`rspec-mode` was expected to invoke `rspec` with th

[2017-08-29 16:47] dgutov commented on #166
Try https://github.com/purcell/exec-path-from-shell, maybe.

This problem is probably not rspec-mode-specific.

[2017-08-29 17:37] Dangeranger commented on #166
@dgutov Yeah maybe that's possible, I just invoked RSpec from within a Dired buffer by using `shell-command` with `bin/rspec`and received

[code]

[2017-08-29 17:45] Dangeranger commented on #166
Looks like that package is included within the base packages.

https://github.com/syl20bnr/spacemacs/blob/8e1af145480d53e8d32cdff2c83291889903164b/layers/+distributions/spacemacs-base/packages.el#L30

And the function is defined within the `packages.el`

[code]

[2017-08-29 18:38] Dangeranger commented on #166
Created new issue in Spacemacs https://github.com/syl20bnr/spacemacs/issues/9512

[2017-08-30 15:49] Dangeranger commented on #166
@dgutov So I've checked the ruby version used by other packages, specifically `inf-ruby-console-rails` and found that when using the console from within Emacs, correct Ruby binary and versions are used. `rspec-mode` seems to be the only package NOT using the `rbenv` binaries.

For example, `M-x ruby-switch-to-inf`

Error message when starting an interactive ruby console session from Emacs. Console

[2017-08-30 16:39] Dangeranger commented on #166
Found a fix, solution below:

Solution:

Within my .zshrc I had initialized rbenv with

[code]

After moving this into my ~/.zshenv instead, restarting my shell, and restarting Spacemacs, rspec-mode found the correct Ruby version managed by rbenv and invoked the tests as expected.

[code]

[2017-08-30 16:39] #166 closed

[2017-08-30 21:55] dgutov commented on #166
Ouch, zsh.

I just put the rbenv config into `~/.profile`. On Ubuntu, that is.

[2017-08-30 22:10] Dangeranger commented on #166
It's my fault for not paying attention to how Emacs invokes your environment as it boots. The strange part is that non of the other packages exhibit this problem.
🤷‍♂️

[2017-08-30 22:33] dgutov commented on #166
If we're talking about `inf-ruby`, then Spring might be calling the shell, and perform initialization doing that... IDK.

[2017-11-08 21:54] hrs opened #168 "Handle the FactoryGirl -> FactoryBot rename"
The maintainers of `FactoryGirl` have [decided to rename the project](https://robots.thoughtbot.com/factory_bot) to `FactoryBot`. There's some logic in `rspec-mode` that uses the string `"FactoryGirl"`, which may be an issue as folks switch over.

(Thanks so much for the great mode, by the way!)

[2017-11-09 20:15] dgutov commented on #168
That's a bit non-trivial.

Should we rename the snippets as well? People who use them might have trouble adapting.

And we might have to parse the Gemfile, to see which factory gem is being used. Maybe we should just wait 6-12 months and rename it all then, leaving no compatibility with FactoryGirl.

[2018-02-25 18:54] #145 closed

[2018-05-29 12:39] kzkn opened #169 "Multiple rspec processes at the same time"
How do I run multiple rspec processes without killing the first rspec process? When I tried it, my Emacs says:

[code]

[2018-05-29 14:39] pezra commented on #169
Running more than one rspec process is not supported.

I think this could be implemented in rspec-mode. I'd welcome that functionality. If you are interested feel free to submit a PR.

[2018-05-29 14:39] #169 closed

[2018-06-10 06:54] avit opened #172 "Error for rspec-compile-target-directory"
Since the update in #170, I'm getting the error:

```rspec-compile: Symbol’s function definition is void: (setf rspec-compile-target-directory)```

I am using rspec-mode with Spacemacs. The same error happens for any target (project, buffer, single). Let me know if there's some more information you need to help debug.

/cc @kzkn

[2018-06-11 03:13] bixuanzju commented on #172
I am having the same issue here.

[2018-06-11 06:37] kzkn commented on #172
Here is a workaround (until a bug fix is released):

[code]

[2018-06-11 15:58] #172 closed

[2018-06-11 16:00] pezra commented on #172
fixed in 1.19

[2018-09-10 15:33] Fibrasek opened #178 "Setting docker variables, does nothing"
Hello,

I have setup the variables to run via docker, but it seems to do nothing, here is my config:
[code]

And the output from `C-c , v`:
[code]

Am I doing something wrong? If so, what?

[2018-09-11 15:06] bfad opened #179 "Running `rspec-verify-matching` uses wrong full path to matched files"
When in a test file and running `rspec-verify-matching` via `C-c , m`, I get an error that the file it tries to run doesn't exist. For example, the file will be in `/path/to/rails_app/spec/controllers/api/example_controller_spec.rb` and running `rspec-verify-matching` will produce the following log:

[code]

In the above example I'm only expecting it to match one file, but even when I expect it to

[2018-09-12 12:47] dgutov commented on #179
Isn't this a different problem? About failing to find the `rspec` command?

[2018-09-12 12:48] dgutov commented on #179
This indeed looks wrong, though.

[2018-09-12 12:51] bfad commented on #179
It doesn't fail to find the `rspec` command, `rspec` is failing to find the path to the file because the path has been prefixed with the path to the current file's directory. Running `rspec-verify-single` and `rspec-verify` for the file works just fine.

[2018-09-13 11:00] dgutov commented on #178
Is there a Dockerfile in the project root?

[2018-09-25 14:39] Fibrasek commented on #178
@dgutov yes, but they end with different extensions, eg.: `Dockerfile.aws`

[2018-09-25 15:05] dgutov commented on #178
How do you choose which one to use?

[2018-09-25 17:54] Fibrasek commented on #178
Locally its used via `docker-compose`

[2018-09-25 18:10] dgutov commented on #178
What is?

[2018-09-25 20:14] Fibrasek commented on #178
You can read about `docker-compose` [here](https://docs.docker.com/compose/overview/)

[2018-10-01 14:38] bfad commented on #179
@kzkn Just tried your patch and `rspec-verify-matching` is indeed working with that patch. Thank you!

[2018-10-25 14:44] micdahl commented on #178
It is because there is a function which searches for "Dockerfile" to determine the docker root directory. If there is none, the use of docker is disabled. This was intended to enable `docker-compose` from the root directory of the project, if some files deeper in the directory tree are beeing edited when rspec mode is run. As a quick workaround you can create an empty Dockerfile in your apps root

[2018-11-15 22:44] imtayadeway opened #180 "Opt out of multiple compilation buffer support"
I think https://github.com/pezra/rspec-mode/pull/170 sort of broke my workflow. I'll often have a test run "paused" by a pry session, and I'm relying on restarting the test killing the current compilation buffer process. If it doesn't then the open transaction (if there is one) will block the new tests from running, and I find it bothersome to refind the old compilation buffer (where there may be

[2018-11-15 22:53] dgutov commented on #180
Sure, please go ahead. Hopefully it won't take a lot of code.

[2018-11-20 13:47] dgutov commented on #179
That PR is now merged. Please let us know if the problem remains.

[2018-11-20 13:47] #179 closed

[2018-11-20 17:00] Fibrasek commented on #178
@micdahl seems a reasonable workaround. Extending the topic, which function looks for the `Dockerfile` in the project root? Maybe extending how it searches for the file could solve the issue of having multiple `Dockerfiles` with extensions.

[2018-11-28 19:21] gcentauri opened #181 "Using rake spec doesn't exclude files"

[2018-11-28 21:20] dgutov commented on #181
Does the command above (printed to the compilation buffer) exclude the said files when run from the terminal?

[2018-11-29 18:20] gcentauri commented on #181
It does not.  It seems like there's actually a newline, so the line with all the rvm info and the `--exclude-pattern` option doesn't become part of the command.  If I try to smash it all on one line, it says that `--exclude-pattern` is an invalid option.  So it seems like something with either my Rakefile (which in regard to rspec just sets up the default `:spec` task with the exclude pattern set)

[2018-11-29 21:04] dgutov commented on #181
The second like is the command that that gets invoked by the first line (by Rake). I think.

[2018-12-03 08:52] paddy-hack opened #183 "Docker based invocation should not assume presence of bash"
First of, thanks!

Second, I like to use `alpine` based Docker images which typically come without `bash`.  The current `docker` or `docker-compose` invocations use `bash -c`.  That breaks my use case.  Using `sh -c` or `/bin/sh -c ` fixes this.  It is extremely unlikely to break those images that have `bash`.

However, I'm also curious why the `bash -c` is there to begin with.  Wouldn't simply le

[2018-12-03 10:01] dgutov commented on #183
As for the last question, @micdahl, do you remember?

[2018-12-03 17:07] micdahl commented on #183
I only can vaguely remember that there were some issues with the correct interpreting of the command when invoking rspec via docker when leaving out the `bash -c`. But I am not sure about the details any more. I think it was, that additional parameters like specific files or line numbers where not recognized correctly without it. `sh -c` should do the work all the same IMHO.

[2018-12-03 23:33] dgutov commented on #178
@Fibrasek You can certainly use advice on `rspec-docker-p` to make it behave however you like.

@micdahl Not sure simply removing the existence check is the correct approach. After all, all other similar variables work that way. At the very least, the option would have to be renamed.

[2018-12-05 11:39] paddy-hack commented on #183
Hi, I just ran into a use case for `/bin/sh -c` while hacking up a completely unrelated script to backup data for a service I run at the office.  A `bin/sh -c 'your-command-here'`, note the *single* quotes!, can be used to specify environment variables set *inside* the container.  Not tested but I think you could also use it to do command-line expansion *inside* the container, i.e. use backticks o

[2018-12-05 19:54] Fibrasek commented on #178
@dgutov thanks for the tip, Ill look up on how to properly use advice, since my lisp skills are pretty basic :smile:

[2018-12-06 01:07] dgutov commented on #183
OK, let's use sh!

[2018-12-06 01:07] #183 closed

[2018-12-13 18:36] gcentauri commented on #157
This is somewhat related, but a different use case.  I'm working in a code base with an unorthodox arrangement of the `spec` directory.  So the unit tests I'd like to switch to are in `spec/unit_tests` where then i have `app`, `lib` etc directories.  I couldn't see an easy way to configure which directory to look in for a scenario like this.  Is that something that could be added to `rspec-mode` o

[2018-12-19 15:39] gcentauri opened #184 "Request: Ability to configure primary spec directory"
_Originally posted by @gcentauri in https://github.com/pezra/rspec-mode/issues/157#issuecomment-447073912_

[2019-12-06 10:30] nfedyashev commented on #178
I believe that it is worth mentioning in README that rspec-mode expects to find Dockerfile in the root directory. For new users it is very confusing because having Dockerfile in non-root directory is pretty common practice(for example https://github.com/evilmartians/terraforming-rails/tree/master/examples/dockerdev ).

Other than that `rspec-mode` is awesome

[2019-12-06 11:50] dgutov commented on #178
@nfedyashev How can we support this use case? Can we just look for `docker-compose.yml` as well?

[2019-12-06 12:58] nfedyashev commented on #178
@dgutov

yes or checking for the presence of files named like docker-compose* - it covers cases like

Examples were taken from https://github.com/search?q=docker-compose&type=Code

[2019-12-06 14:03] dgutov commented on #178
I think most of those are used for scripting purposes, don't they? Like, the CI script copies `docker-compose.gitlab.yml` to `docker-compose.yml` before running the build.

In any case, I can simply add a custom var with the file name to look for.

[2019-12-06 14:47] nfedyashev commented on #178
Although I never used custom docker-compose yaml confg files(like docker-compose.custom.yml) I suspect some may use it for expressiveness/explicitness in their complex projects.

CI script most likely doesn't need to copy/rename docker-compose config files because it can explicitly specify which config to pick up using `docker-compose -f docker-compose.custom.yml`

:+1:
and the default value would

[2019-12-06 15:01] dgutov commented on #178
Why not "Dockerfile"? :)

In your experience, do people use Docker without docker-compose these days?

[2019-12-06 15:12] pedz commented on #178
I have never used docker compose but I believe I’m the minority.

How about a list?

[2019-12-06 15:24] dgutov commented on #178
I'm, uh, trying to minimize the number of disk accesses in the default config (mostly important when one uses Tramp). The var could be a list, but the default would have one element.

Speaking of, one of the recent PRs sneaked in a change in the default of `rspec-docker-command`. @pedz, did you have to customize that?

[2019-12-06 15:29] pedz commented on #178
I’ve not used Docker with Ruby On Rails.  I was using it with Python.

Given that this is Docker + RoR + Development (since this is using Rspec) … I’d go with docker compose.

I’m very curious to explore this.  I spent two weeks exploring using Virtual Box, Vagrant, and Arch Linux
just so I didn’t have to install (evil) Chrome on my laptop.  Turns out you can use Brave instead of Chrome.

[2019-12-06 15:53] dgutov commented on #178
Excellent, docker-compose it is!

Or, um, Firefox?

[2019-12-06 15:56] nfedyashev commented on #178
@dgutov

oh, sorry, I might have misunderstood your point.
I thought that's going to be combined check(presence of Dockerfile OR docker-compose.yml).

I guess some people might be still using Docker without docker-compose.

[2019-12-06 15:57] dgutov commented on #178
Then they have to customize `docker-command` anyway.

[2019-12-06 16:01] #178 closed

[2020-01-21 10:37] zirni opened #189 "How disable rspec -b backtrace options"
Hello folks,

I'm using spacemacs' ruby layer to run my local rspec files and it's outputing the whole backtrace of a failing spec.
The problem is that the runners' cmd contains the -b option'
```bin/rspec -b /home/.../model_spec.rb```
Just walked through the code and can't find how to disable this particular option.

Would be glad to get some tips from you guys.

Thanks a lot.
zirni

[2020-01-21 13:14] dgutov commented on #189
Hi!

I don't get any `-b`. What code are you referring to?

[2020-01-21 13:42] zirni commented on #189
Found the appropriate variable to change this behaviour:
https://github.com/ruby-test-mode/ruby-test-mode/blob/master/ruby-test-mode.el#L72

`ruby-test-mode` add the `-b` option which is part of the spacemacs ruby layer
https://github.com/syl20bnr/spacemacs/blob/master/layers/%2Blang/ruby/packages.el#L26
https://github.com/syl20bnr/spacemacs/blob/master/layers/%2Blang/ruby/packages.el#L29

Sorry f

[2020-01-21 13:42] #189 closed

[2020-02-09 06:50] nfedyashev opened #191 "Low level configurable spec runner command"
Hi Dmitry!

I was wondering if rspec-mode in its current form(or with minor modifications) can work in my(slightly unconventional) development environment - I use my slightly underpowered laptop as my main coding emacs environment but a whole dev backend is a remote machine(web server, test runner etc). Source code is rsync-ed from the laptop to that remote machine.

That's the reason why I stoppe

[2020-02-09 13:41] dgutov commented on #191
Adding an advice to `rspec-compile-command` can do it, I think.

Similarly to how `rspec--vagrant-wrapper` and `rspec--docker-wrapper` work.

[2020-02-09 13:42] dgutov commented on #191
That... might be a problem (not sure though). Since we're creating a compilation buffer with command's output.

[2020-02-09 15:23] nfedyashev commented on #191
Thank you very much!
I'll give it a try.

[2020-02-09 15:23] #191 closed

[2020-02-15 12:53] miguelbernadi opened #192 "Trouble using rspec-mode with docker"
I'm trying to run the specs with rspec-mode against docker but it always fails as it tries to run the specs locally (bundler not installed locally). I also can't figure how to get some more verbose output to debug if my config may be wrong.

Setup is as follows:
[code]

Each of the projects is a separate git repository and they are put in this order manually (no submodules or anything similar). Th

[2020-02-15 14:44] dgutov commented on #192
`Dockerfile` should be `"Dockerfile"`, it's a string. Same for `rspec-docker-container`. But you should be getting a more obvious error because of that.

Where does `Gemfile` reside? Check that `(rspec-project-root)` returns the correct directory in each case.

[2020-02-15 15:32] miguelbernadi commented on #192
There is a Gemfile for each project next to each Dockerfile. I've updated the strings to use quotes as you mentioned but it still does not work.

I wasn't sure how to run `(rspec-project-root)` so I did it in a scratch buffer opened in the root of my project. I run:

[code]
and it returned the path to the root of my project (~/docker-projects/project_1/).

[2020-02-15 15:37] pedz commented on #192
Escape colon M-: and then type in the lisp you want to evaluate.  Many variables are buffer specific so start while in the buffer where you are doing your work.

[2020-02-15 15:44] miguelbernadi commented on #192
@pedz Thanks for the tip!

Just run it in the buffer where I was failing to run the specs and it returned the project root properly.

[2020-02-15 16:28] dgutov commented on #192
Then I can recommend edebug-ing `rspec--docker-wrapper`.

[2020-11-15 16:37] dgutov commented on #192
BTW, you might want to try https://github.com/bibendi/dip. It's a semi-transparent wrapper for `docker` and `docker-compose`.

Configuring `rspec-mode` for use with it is pretty trivial:

[code]

(Or do that in `.dir-locals.el`).

[2021-04-23 06:15] MoskitoHero opened #194 "Pry history is broken"
Hello, I am having problems debugging with `binding.pry`. Whenever I want to go back in history using the up key, it breaks with this error:

[code]

My pry prompt looks like this:

[code]

I am using doom emacs with emacs 28.50, ruby 2.7.2 and the latest pry gem - 0.13.1

[2021-04-23 22:36] dgutov commented on #194
Check this out: https://github.com/nonsequitur/inf-ruby/issues/72

[2022-07-18 03:31] powersurge360 opened #202 "Support for request specs?"
Hello! I searched the source code and checked the documentation but I didn't see very much about request specs. Is there anyway to set `rspec-toggle-test-and-target` to match something in `spec/requests/{model-name}_spec.rb` instead of `spec/controllers/{model-name}_controller_spec.rb`? Controller specs seem to be soft-deprecated and rspec stubs request specs instead of controller specs nowadays.

[2022-07-18 21:59] dgutov commented on #202
Hi!

Historically, I think, `rspec` specs never used a "fancy" naming scheme for directories. Unlike `test-unit` which is used with Rails by default.

And IIUC this didn't change. Looking at https://github.com/rspec/rspec-rails, it suggests specifying the spec type using the `:type` metadata. The recently merged new snippet `desct` allows you to have that value auto-filled.

[2022-07-18 23:44] powersurge360 commented on #202
In the [generators for controllers](https://github.com/rspec/rspec-rails/blob/7b7a86fc3a5cfaebaff05c226708e27728887da5/lib/generators/rspec/controller/controller_generator.rb#L15), it will generate a `requests/{model-name}_spec.rb` if the `:request_specs` option is set to true. There's a similar [check for controllers](https://github.com/rspec/rspec-rails/blob/7b7a86fc3a5cfaebaff05c226708e27728887

[2022-07-27 23:30] dgutov commented on #202
All right, then.

I suppose this will require some extra logic in `rspec-spec-file-for` and `rspec-target-file-for`.

Perhaps you'd like to try implementing that?

[2022-07-29 04:48] powersurge360 commented on #202
Yea I can take a crack at it sometime! May take me a bit and it will be literally the first elisp I've written so it may take me a bit to implement but I'll check it out sometime soon. I guess what I'd need to do is create a sort of special case for request specs because they, unlike most of the other conventions, don't map 1:1 with the file name and require a little massaging, right? Is there any

[2022-07-29 11:09] dgutov commented on #202
Things to know:

`C-M-x` re-evaluates a defun in the current session. So you can try out new changes right away.
`C-u C-M-x` instruments a defun for debugging.

And the functions that I mentioned in the previous message are most likely the only ones that need changing.

There are no "unusual" mappings supported by `rspec-mode` so far, so there is no existing setting or a list that can be added to.